
<nav class="navbar navbar-default">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Produits", "Index", "Produits")</li>
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catégorie<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var item in ViewBag.GenreId)
                        {
                            <li>
                                @Html.ActionLink((string)item.Name, "SearchProductBy",
         "Produits", new { crit = (string)item.Name }, null)
                            </li>
                        }
                    </ul>

                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Marque<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var item in ViewBag.MarqueId)
                        {

                            <li>
                                @Html.ActionLink((string)item.Name, "SearchProductByMarque",
      "Produits", new { crit = item.Name }, null)
                            </li>
                        }
                    </ul>
                </li>
                <li>@Html.ActionLink("Mes commandes", "CustumerOrder", "Produits")</li>

            </ul>
        
        </div>

    </div>

</nav>

